/* GermanLearning.css */

.spanish-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.cta-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #45a049;
}

.level-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}

.close-popup {
    background-color: #f44336;
}

.close-popup:hover {
    background-color: #e53935;
}
